h1{
  font-family: fantasy;
  color:tomato;
}

img{
  height: 300px;
  width: 350px;
}
div.divPesquisa{
  text-align: center;
  font-family: fantasy;
  background-color: tomato;
}

div.paises{
  background-color: #FAD774;
  text-align: center;
}

h4{
  margin-left: 1%;
  
}
h3{
  color: tomato;
}

div.results{
  margin-left: 42%;
  display: flex;
}